#*
	Découpe selon la taille de l'intervalle en entrée

	Options :
		- interval.size La taille de chacun des intervalles à générer
*#
#set( $size = $r.options.getOption("interval.size",100) )
#foreach( $i in $r.interval.cutBySizeOfIntervals($size) )
$i
#end