#**
	Affiche l'ensemble des informations du processus de réécriture

 	Options :
		- display.queries Afficher les requêtes
*#
#set( $displayq = $r.options.getOption("display.queries",true) )
#if( $displayq == true )
	#foreach($Q in $r.queries)
$Q.code $Q.q
	#end
#else
$r.compute()
#end
Number of codes  : $r.nbCodes
Interval         : $r.interval
Threads          : $r.nbThreads
Generation time  : $r.times.generation
Computation time : $r.times.computation