#**
	Affiche l'ensemble des informations du processus de réécriture

 	Options :
		- display.queries Afficher les requêtes
		- display.codes   Afficher les codes
		- display.char.endcode  Caractère suivant l'affichage d'un code
		- display.char.endqueries  Caractère suivant l'affichage des requêtes
*###
#set( $displayq    = $r.options.getOption("display.queries",true) )
#set( $displayc    = $r.options.getOption("display.codes",true) )
#set( $endcode     = $r.options.getOption("display.char.endcode"," ") )
#set( $endqueries  = $r.options.getOption("display.char.endqueries","") )
#if( $displayq == true )
#foreach($Q in $r.queries)
#if($displayc)
$Q.code$endcode##
#end
$Q.q
#end
$endqueries##
#else
$r.compute()
#end
Number of codes  : $r.nbCodes
Interval         : $r.interval
Threads          : $r.nbThreads
Generation time  : $r.times.generation
Computation time : $r.times.computation